.header {
  height: 64px;
  background-color: #002140;
}

.header__body {
  margin: 0 auto;
  height: 100%;
}

.header__logo a {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.header__nav a {
  color: #fff;
  margin: 0 6px;
}

.header__nav a:hover {
  color: #ccc;
}